# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
generated/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

#
# Editor configuration files
#
.vscode
DocumentStore.xpr
.vs/

# Files in log directory
logs/**/*.xml
logs/**/*.txt
logs/**/*.log

# Content files
data


_repro-info.xml
q3.sh
temp
node_modules
datastore.pfx
Taxxor_root.crt
appsettings.Development.json
.idea/.idea.DocumentStore.dir/.idea
documentstore.pfx
